# python
*.pyc
__pycache__/

# classic ignores
~*.*
~*/
$*.*

# bombsquad dev source files
BombSquadGeneric.pdb

# mods
ba_data/textures2/fusecore/mods/ext/*
ba_data/audio2/fusecore/mods/ext/*
ba_data/meshes2/fusecore/mods/ext/*

# bombsquad binaries
bombsquad
ba_data/audio/*
ba_data/meshes/*
ba_data/textures/*
ba_data/data/*
ba_data/languages/*
ba_data/fonts/*

ba_data/textures2/helloworld.*
ba_data/textures2/mydir/helloworld.*
ba_data/textures2/mydir_copy/helloworld.*

ba_data/python/baenv.py
ba_data/python/babase/*
ba_data/python/baclassic/*
ba_data/python/bacommon/*
ba_data/python/baplus/*
ba_data/python/bascenev1/*
ba_data/python/bascenev1lib/*
ba_data/python/batemplatefs/*
ba_data/python/bauiv1/*
ba_data/python/bauiv1lib/*
ba_data/python/efro/*
ba_data/python-site-packages/*